<%- layout('layouts/main') %>

<div class="card container mt-3">
    <h5 class="card-header">ยก Congratulations !</h5>
    <div class="card-body">
        <h5 class="card-title">Your order will be prepared as soon as posible!</h5>
        <p class="card-text">Look up your email for more details</p>
        <a href="/" class="btn btn-primary">Go back</a>
    </div>
</div>