<%- layout('layouts/main')%>

<div class="container mt-3">
  <div class="card mb-3 container" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Signup</h5>
          <form action="/user/signup" method="POST">
            <div class="mb-3">
              <label for="signupName" class="form-label">Name</label>
              <input id="signupName" type="text" class="form-control" name="usname" placeholder="John Eliot">
            </div>
            <div class="mb-3">
              <label for="signupEmail" class="form-label">Email address</label>
              <input id="signupEmail" type="email" class="form-control" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="signupPassword" class="form-label">Password</label>
              <input id="signupPassword" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-3">
              Signup
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


